@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>hola mundo como esta</p>
    <p>oikawa te aguanto 5 round seguidos, ya de voley no sé</p>


